
<!-- duoshuo.com javascript include code. -->    
{% if site.duoshuo_url %}
  <div class="post-area post comment">
	<div class="ds-thread" 
		data-thread-key="{{ page.url }}" 
		data-title="{{ page.title }}" 
		data-image="{{ site.data.author.image }}"
		data-url="{{ site.duoshuo_url }}{{ page.url }}">
	</div>
	<ul class="ds-recent-visitors" data-num-items="20"></ul> 
  </div>
  <script type="text/javascript">
	var duoshuoQuery = {short_name:"{{ site.duoshuo_shortname }}"};
	(function() {
	  var ds = document.createElement('script');
	  ds.type = 'text/javascript';ds.async = true;
	  ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
	  ds.charset = 'UTF-8';
	  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
  </script>
{% endif %}
<!-- disqus.com javascript include code. -->
{% if site.disqus_shortname %}
	<div id="disqus_thread"></div>
	<script>
	/**
	* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
	* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
	*/

	var disqus_config = function () {
	this.page.url = '{{ site.url }}{{ page.url }}'; // Replace PAGE_URL with your page's canonical URL variable
	this.page.identifier = '{{ site.url }}{{ page.url }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
	};

	(function() { // DON'T EDIT BELOW THIS LINE
	var d = document, s = d.createElement('script');

	s.src = '//{{site.disqus_shortname}}.disqus.com/embed.js';

	s.setAttribute('data-timestamp', +new Date());
	(d.head || d.body).appendChild(s);
	})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endif %}
