.archive-separator {
    margin: 35px 0 13px;
    color: @primaryColor;
    font-size: 16px;
    font-weight: bold;

    &:first-child {
        margin-top: 10px;
    }
}

.article-card {
    padding: 16px 20px 0;
    .card();

    .post-content {
        word-break: break-all;

        .highlight,
        > pre {
            margin-left: -20px;
            margin-right: -20px;
            padding: 20px;
        }
    }

    .post-time {
        line-height: 24px;
        font-weight: bold;
    }

    .post-footer {
        margin: 0 -20px;
        padding: 12px 20px 8px;
    }

}

.archive-article {
    .post-title {
        font-size: 18px;
        margin-bottom: 0;
        padding-bottom: 16px;
    }
}
.waterfall {
    position: relative;
    margin: 0 -10px -20px;
    .fade;
}
.waterfall-item {
    position: absolute;
    width: 50%;
    padding: 0 10px 20px;
}

// 自定义的归档样式，覆盖一些默认样式
.archive-item {
    padding-left: 10px;
    border-bottom: 1px dashed @borderColor;

    .post-title {
        display: inline-block;
        font-size: 14px;
        padding-bottom: 0px;
        padding-top: 10px;
    }

    .post-time {
        font-size: 12px;
        color: @secondaryTextColor;
    }

    .archive-article {
        border: none;
    }

    // &::before {
    //     content: " ";
    //     position: absolute;
    //     left: 0;
    //     // top: 12px;
    //     width: 6px;
    //     height: 6px;
    //     margin-top: 20px;
    //     margin-left: -3px;
    //     background: @primaryColor;
    //     border-radius: 50%;
    //     border: 1px solid #fff;
    //     transition-duration: .2s;
    //     transition-timing-function: ease-in-out;
    //     transition-delay: 0s;
    // }
        
}

// // 时间线样式
// .archive-collapse::after {
//     content: " ";
//     position: absolute;
//     top: 0px;
//     left: 0;
//     margin-left: -2px;
//     width: 3px;
//     height: 100%;
//     background: @lightPrimaryColor;
//     z-index: -1;
// }



@media screen and (max-width:760px) {
    .archive-article {
        display: block;
        margin: 0 -16px;
        padding: 16px 16px 8px;
        border-bottom: 1px solid @borderColor;
        .post-footer {
            border-top: none;
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    .article-card {
        border-radius: 0
    }

    .archive-separator {
        margin-top: 16px;
    }

    .waterfall {
        margin: 0;
        height: auto!important;
        opacity: 1;
        .transform(translateY(0));
    }

    .waterfall-item {
        position: static;
        width: 100%;
        padding: 0;
    }

    .archive-item {
        position: static;
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width:420px) {
    .archive-article {
        padding: 16px 16px 0;
    }
}
