<div class="archive-item">
  <article class="archive-article">
    <%- partial('post/date', { post: post, date_format: date_format}) %>
    <%- partial('post/title', {hasLink: true }) %>
  </article>
</div>